jwt:
  tokenSecret: QAZwsx123
  tokenExpiresInMillis: 3600000 #1h

feign:
  client:
    config:
      default:
        loggerLevel: basic
        readTimeout: 5000
        connectTimeout: 500

oauth2:
  authorizedRedirectUris:
    - http://localhost:4200/%23/oauth2/redirect

spring:
  data:
    mongodb:
      host: localhost
      port: 27017
      database: coinbank_core
  cache:
    type: simple
    evict-cron: "* */5 * * * *"
  session:
    mongodb:
      collection-name: sessions
    store-type: mongodb
  config:
    location: application.yml
  security:
    oauth2:
      client:
        registration:
          google:
            clientId: 208677993213-hb5o73qr7gbebh85jd9q1q2eovuael7p.apps.googleusercontent.com
            clientSecret: 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
            redirectUri: "http://localhost:4200/oauth2/callback/{registrationId}"
            scope:
              - email
              - profile
          facebook:
            clientId: 1254079278109916
            clientSecret: 4c527117de903416a9683d56998ac930
            redirectUri: "http://localhost:4200/oauth2/callback/{registrationId}"
            scope:
              - email
              - public_profile
        provider:
          facebook:
            tokenUri: https://graph.facebook.com/v2.8/oauth/access_token
            userInfoUri: https://graph.facebook.com/v2.8/me?fields=email,name,picture.width(250).height(250)
            authorizationUri: https://www.facebook.com/v2.8/dialog/oauth
    filter:
      order: 3

logging:
  level:
    root: info

security:
  publicRoutes:
    - "/"
    - "/error"
    - "/favicon.ico"
    - "/**/*.png"
    - "/**/*.gif"
    - "/**/*.svg"
    - "/**/*.jpg"
    - "/**/*.html"
    - "/**/*.css"
    - "/**/*.js"
    - "/signin/**"
    - "/oauth2/**"
    - "/websocket/**"
    - "/api/signin/**"
    - "/api/logout/**"
    - "/api/signup/**"

rabbitmq:
  relayHost: localhost
  relayPort: 61613

stomp:
  destinations:
    TICKER_EVENT: "'/topic/' + name + '-ticker'"

binance:
  url: wss://api.binance.com/
  apiKey: Zqxi5MgLBbAHQa20Lp9E9xQEW5BmI3sxzpR1se3zHaoSpmoO2thq5q7z8Zt9xm2v
  secretKey: EApcbO0IZx72dPnbACq3ND8VoGH2mTJ031Wncb8hDaJ3nNews7O1yNneAgI2BUDS
  useTestnet: false
  useTestnetStreaming: false